<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Imprimer image</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container" align="center">
		<div class="card" style="width: 800px" align="center">
			<div>
			      <img style="width:826.3px;height:1169.3px" alt="" th:src="${ordsrc}">
			    <button onclick="window.print()">Imprimer </button>
			</div>
			
		</div>
		
	</div>
</body>
</html>